**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/.next/
**/out/
**/.turbo/
**/.env
**/.env.*.local
!worldcup-frontend/.env.local
**/appsettings.Development.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
